<?xml version="1.0" encoding="UTF-8"?>
<window>
    <backgroundcolor>Background</backgroundcolor>
    <defaultcontrol>9000</defaultcontrol>
    <controls>
        <!-- Background -->
        <include>Furniture_Background</include>
        <include>Furniture_TopBar</include>
        <include>Furniture_RSS</include>

        <!-- Settings -->
        <control type="group">
            <include>Defs_SettingsScreen</include>
        </control>
    </controls>

</window>